@model IEnumerable<Sneaker.ViewModel.ProductView>
@{
<html>
<head>
    <link href="~/css/sneakerStyle.css" rel="stylesheet" />
    <title>@Model.FirstOrDefault().Name</title>
</head>
<body>

    <div class="navbar-brand-my">
        <img src="@Model.FirstOrDefault().UrlImage" height="600" width="600" />
    </div>
    <div class="navbar-brand">
        <p><h3>@Model.FirstOrDefault().Name @Model.FirstOrDefault().Description</h3></p>
        <p><h3 class="text-danger">$ @Model.FirstOrDefault().Price </h3></p>
        <p>Категория: @Model.FirstOrDefault().CategoryName</p>

        <p>Материал: @Model.FirstOrDefault().MaterialName</p>
        <p><b>Выберите размер: </b></p>
        @foreach (var item in Model.FirstOrDefault().Sizes)
        {
        <input type="radio" name="size"><label>@item.Size.Number</label>

        }
        <br>
        <a asp-action="Create" asp-controller="Card" asp-route-id="@Model.First().Id">
            <input type="submit" class="btn font-weight-bold btn-success" value="Перейти к заказу" />
        </a>
    </div>

</body>
</html>
}
