@model IEnumerable<Sneaker.ViewModel.ProductView>
@{

<div>
    <img src="@Model.FirstOrDefault().UrlImage" height="278" width="278" />
    <p>@Model.FirstOrDefault().Name</p>
    <p>@Model.FirstOrDefault().Amount</p>
    <p>@Model.FirstOrDefault().BrandName</p>
    <p>@Model.FirstOrDefault().CategoryName</p>
    <p>@Model.FirstOrDefault().Description</p>
    <p>@Model.FirstOrDefault().MaterialName</p>
    <p>@Model.FirstOrDefault().Price</p>

</div>

}
