
@model IEnumerable<Sneaker.ViewModel.ProductView>
@addTagHelper "*, Sneaker"

@{
    <html>
    <head>
        <title>@Model.FirstOrDefault().BrandName</title>
        <link href="~/css/sneakerStyle.css" rel="stylesheet" />
    </head>

    @foreach (var product in Model)
    {
        <body>
            <div class="navbar-brand-my ">
                <div>
                    <a asp-action="Details" asp-controller="ProductView" asp-route-id="@product.Id">
                        <img src="@product.UrlImage" height="278" width="278" />
                        <div>
                            <p><b>@product.Name </b></p>
                            <p class="btn-success"><b>$@product.Price </b></p>
                        </div>
                    </a>
                </div>
            </div>
        </body>

    }

</html>
}

@* Страничная навигация *@
@*<page-link page-model="@Model.FirstOrDefault().PageViewModels" page-action="Index"></page-link>*@
